<!--The content below is only a placeholder and can be replaced.-->

<!--<a routerLink="/users/1">user</a>-->
<!--<a routerLink="/modules">module</a>-->


<!--<router-outlet></router-outlet>-->
<div class="window">

  <div class="header" id="home">
    <div style="font-size: xx-large"><a href="/" style="text-decoration: none; color: black; "><span
      class="headerText"> ti<strong>mer</strong> </span></a></div>
  </div>
  <hr>

  <router-outlet></router-outlet>

  <div class="footer">
    © 2019 chobot_labs Rights Reserved
  </div>

</div>
