table {
  width: 100%;
}


table  {
  transition: none !important;
  box-shadow: none !important;
  padding-bottom: 1em;
}

.network_list_table{
  padding-top: 50px;
}

.network_list_item{
  cursor: pointer;
}

.mat-flat-button{
  float: right;
}


.timer{
  height: 1536px;
  position: relative;
}

.timer-countdown {
  font-family: 'Roboto', sans-serif;
  font-size: 1500%;
  margin: 0;
  margin-top: 100px;
  text-align: center;

}

.timer-message{
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  top: 70%;
  text-align: center;
  font-size: 400%;
}

mat-spinner.small-spinner svg { width: 400px !important; height: 400px !important; }
